:root {
    --dark-gray: #31343d;
    --light-blue: #92cccd;
    --dark-blue: #445876;
    font-family: 'Noto Sans JP', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <header> styles start */

.header-container {
    background-color: var(--dark-gray);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
}

.name {
    background-color: var(--light-blue);
    margin: -8px 0 -8px -40px;
    padding: 0 15px 3px 100px;
}

.name h1 a {
    font-size: 40px;
    font-weight: 600;
    color: var(--dark-gray);
}

header a {
    text-decoration: none;
    color: var(--light-blue);
}

header nav ul li {
    display: inline-block;
    margin: auto -10px;
}

header nav ul li::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 5px;
    border-bottom: 4px solid var(--light-blue);
}

header nav ul li a {
    font-weight: normal;
    font-size: 22px;
    margin: 0 30px;
}
/* <header> styles end*/

/* hero styles start */

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-title {
    position: relative;
    top: 35%;
    left: 32%;
    background-color: var(--light-blue);
    padding: 12px 5px 5px 3px;
    width: 260px;
}

.hero-title img {
    display: block;
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--dark-gray);
    margin: 0 auto;
}

.hero-title h2 {
    padding: 10px 20px;
    color: var(--dark-gray);
    font-size: 30px;
    text-align: center;
}
/* hero styles end */

/* main content styles start */

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #ededf6;
}

/* section styles start */
.content-container {
    margin: 50px auto;
    padding-bottom: 15px;
    width: 80%;
    display: flex;
}


.content-container h3 {
    color: var(--dark-blue);
    font-size: 46px;
    text-align: right;
    line-height: 1.1;
    flex: 1 20%;
    align-items: flex-start; 
}

.section-content {
    margin-left: 15px;
    padding-left: 2.5%;
    border-left: 4px solid var(--dark-blue);
    flex: 1 80%;
}

.section-content p {
    font-weight: lighter;
    color: var(--dark-blue);
    line-height: 1.7;
}
/* section styles end */

/* work styles start */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "Project-1 Project-1"
      "Project-2 Project-3"
      "Project-4 Project-5";
  }
  
.portfolio {
    border: 4.5px solid var(--light-blue);
    display: flex;
    align-items: flex-end;
    padding-left: 0;
    margin-bottom: 20px;
    text-align: left;
}

.portfolio-info {
    background-color: var(--light-blue);
    padding: 5px 10px 10px 15px;
    position: absolute;
    margin-bottom: 20px;
}

#photo-click-01 {
    background-image: url('../../assets/images/project-01.jpg');

}

#photo-click-02 {
    background-image: url('../../assets/images/project-02.jpg');

}

#photo-click-03 {
    background-image: url('../../assets/images/project-03.jpg');

}

#photo-click-04 {
    background-image: url('../../assets/images/project-04.jpg');

}

#photo-click-05 {
    background-image: url('../../assets/images/project-05.jpg');

}

.photo-click {
    background-size: cover;
    width: 100%;
    display: block;
    height: 250px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.Project-1 { 
    grid-area: Project-1;
}

.Project-2 { 
    grid-area: Project-2; 
}

.Project-3 { 
    grid-area: Project-3;
}

.Project-4 { 
    grid-area: Project-4; 
}

.Project-5 { 
    grid-area: Project-5; 
}
/* work styles end */

/* contact styles start */
#contact-links ul {
    list-style: none;
    margin-top: 2.5%;
    display: flex;
    justify-content: space-around;
}

#contact-links li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 5px 15px;
    border-bottom: 4px solid var(--dark-blue);
}
/* contact styles end */

/* main content styles end */

/* footer styles start */
footer {
    background-color: var(--dark-gray);
    padding: 15px 0;
}

footer h5 {
    color: white;
    text-align: center;
}
/* footer styles end */

/* media queries */

@media screen and (max-width: 980px) {
    .header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        margin: -8px 0 -8px -40px;
        padding: 15px 20px;
        margin: 0 0 10px 0;
    }

    #contact-links ul {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    #contact-links li a {
        text-decoration: none;
        text-align: center;
        color: black;
        font-size: 24px;
        padding: 2px 5px;
        border-bottom: none;
    }
    
}

@media screen and (max-width: 768px) {
    
    .hero {
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: top;
        height: 200px;
    }
    
    .hero-title {
        display: none;
    }


    .content-container {
        flex-direction: column;
    }

    .content-container h3 {
        text-align: center;
        border-bottom: 3px solid var(--dark-blue);
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-container h3 br {
        display: none;
    }

    .section-content {
        border: none;
    }

    .grid-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 10px 0 0 0;
    }

    #contact-links ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

}

@media screen and (max-width: 480px) {

    header nav ul {
        width: 200px;
        text-align: center;
    }

    header nav ul li a {
        font-size: 26px;
    }

    header nav ul li::after {
        display: none;
    }

    .hero {
        display: none;
    }

}